stages:
  - build

build:
  stage: build
  image: mcr.microsoft.com/dotnet/sdk:latest
  script:
    - dotnet build -o release -c Release /app/LethalMod.sln
  artifacts:
    paths:
      - ./release/LethalMod.dll

release:
  stage: build
  image: busybox:latest
  needs:
    - job: build
      artifacts: true
  script:
    - mv ./release/LethalMod.dll ./LethalMod.dll
    - cp ./LethalMod/Plugin.cs ./Source.cs
    - zip LethalMod_${CI_COMMIT_TAG}.zip ./LethalMod.dll ./icon.png ./manifest.json ./README.md ./Source.cs
  artifacts:
    paths:
      - ./*.zip
